body{
    margin:0;
    background:black;
    color:white;
    text-align:center;
    font-family:'Cormorant Garamond', serif;
}

.page{
    min-height:100vh;
    padding:40px;
}

.hidden{
    display:none;
}

h1{
    font-family:'Playfair Display', serif;
}

button{
    padding:15px 30px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
}

.letter{
    max-width:700px;
    margin:auto;
    font-size:22px;
    line-height:1.8;
}

.gallery{
    margin-top:50px;
}

.gallery img{
    width:250px;
    border-radius:15px;
    margin:10px;
}

.heart{
    font-size:120px;
    animation:beat 1s infinite;
}

@keyframes beat{
    50%{
        transform:scale(1.15);
    }
}

.gift-box {
    width: 120px;
    height: 100px;
    margin: 40px auto;
    position: relative;
    cursor: pointer;
    animation: shake 2s infinite;
}

.box {
    width: 120px;
    height: 80px;
    background: white;
    border: 3px solid black;
    position: absolute;
    bottom: 0;
}

.lid {
    width: 130px;
    height: 25px;
    background: black;
    position: absolute;
    top: 0;
    left: -5px;
    z-index: 2;
}

.ribbon {
    width: 20px;
    height: 100px;
    background: black;
    position: absolute;
    left: 50px;
    z-index: 3;
}

@keyframes shake {
    0%,100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
}
